
@{
    Layout = "~/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="col-xs-8">
        <div class="article-boxes">
            <article class="box wide">
                <header>
                    <h1>Release Notes</h1>
                </header>
                <p>
                    @TopicHelper.RenderReleaseNotesIndex()
                </p>
            </article>
        </div>
    </div>
</div>
