@{
    Page.Title = "NuGet Docs | Error";
}

<article>
    <h1>Error: Oh no, we broke something!</h1>
    <p>You might be here because:</p>
    <ul>
        <li>There is an error on our server and the server is &quot;given her all she's got, captain.&quot; </li>
        <li>The system is down, the system is down, the system is down.</li>
        <li>Our name is smalls.</li>
    </ul>

    <h2>Maybe it was a bug</h2>
    <ul>
        <li>File a bug so we can fix it. <a href="https://github.com/NuGet/NuGetDocs/issues">https://github.com/NuGet/NuGetDocs/issues</a></li>
        <li>Fix the issues yourself by contributing to NuGet Docs. <a href="~/Contribute/Contributing-to-NuGet-Documentation">Contributing to NuGet Documentation</a></li>
    </ul>
</article>
