<div class="article-boxes">
    <article class="box links wide">
        <header>
            <h1>Getting Started</h1>
        </header>
        <p>
            In this section, learn about packaging and publishing your own NuGet Packages.
        </p>
        <footer>
            <a href="/Create/Creating-and-Publishing-a-Package" title="Create and Publish a Package">Create and Publish a Package</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Create/NuSpec-Reference" title="NuSpec Reference">NuSpec Reference</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="Create/Enforced-Package-Conventions" title="Enforced Package Conventions">Enforced Package Conventions</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="Create/Package-Conventions" title="Community Package Conventions">Community Package Conventions</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Create/Using-a-Gui-to-build-packages" title="NuGet Package Explorer, an easy way to build packages!">NuGet Package Explorer</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Symbol, Localized and Transform Packages</h1>
        </header>
        <p>
            In this section, learn about creating symbol, localized or config file and source code transformation packages and specifying dependenvy versions for packages.
        </p>
        <footer>
            <a href="/Create/Creating-and-Publishing-a-Symbol-Package" title="Creating and Publishing a Symbol Package">Symbol Packages</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Create/Creating-Localized-Packages" title="Creating Localized Packages">Localized Packages</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="Create/Creating-Packages-With-Configuration-File-and-Source-Code-Transformations" title="Creating Packages with Configuration File and Source Code Transformations">Config File &amp; Source Code Transformation Packages</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="Create/Versioning" title="Versioning">Versioning</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Managing Packages</h1>
        </header>
        <p>
            In this section, learn about managing your NuGet Packages.
        </p>
        <footer>
            <a href="/Create/Managing-Package-Owners" title="Managing Package Owners">Managing Package Owners</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Create/Deleting-Packages" title="Deleting Packages">Deleting Packages</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Learn more</h1>
        </header>
        <p>
            In this section, learn more about using packages in VS templates, NuGet Extensibility APIs, invoking NuGet Services inside VS and hosting your own NuGet feeds.
        </p>
        <footer>
            <a href="/Create/Packages-in-Visual-Studio-Templates" title="Packages in Visual Studio Templates">Packages in Visual Studio Templates</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Create/Extensibility-APIs" title="NuGet Extensibility APIs">Extensibility APIs</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Create/Invoking-NuGet-Services-from-inside-Visual-Studio" title="Invoking NuGet Services in VS">Invoking Services in VS</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Create/Hosting-Your-Own-NuGet-Feeds" title="Hosting your own NuGet feeds">Hosting your own feeds</a>
        </footer>
    </article>
    <div style="clear:both"></div>
</div>