@*<article>
    <h1>Creating NuGet Packages</h1>
    @TopicHelper.RenderSubTopics("~/Create")
</article>*@

<article>
    <div>
        <header>
            <h1>Getting Started</h1>
        </header>
        <p>
           In this section, learn about packaging and publishing your own NuGet Packges.
        </p>
        <h2><a href="/Create/Creating-and-Publishing-a-Package">Create and Publish a package</a></h2>
        <h2><a href="/Create/NuSpec-Reference">NuSpec Reference</a></h2>
        <h2><a href="Create/Enforced-Package-Conventions">Enforced Package Conventions</a></h2>
        <h2><a href="Create/Package-Conventions">Community Package Conventions</a></h2>
        <h2><a href="/Create/Using-a-Gui-to-build-packages">NuGet Package Explorer, an easy way to build packages!</a></h2>
    </div>
</article>

<article>
    <div>
        <header>
            <h1>Symbol, Loc and Transform Packages</h1>
        </header>
        <p>
            In this section, learn about creating symbol, localized or config file and source code transformation packages and specifying dependenvy versions for packages.
        </p>
        <h2><a href="/Create/Creating-and-Publishing-a-Symbol-Package">Symbol package</a></h2>
        <h2><a href="/Create/Creating-Localized-Packages">Localized Packages</a></h2>
        <h2><a href="Create/Creating-Packages-With-Configuration-File-and-Source-Code-Transformations">Config File and Source Code Transformations Packages</a></h2>
        <h2><a href="Create/Versioning">Versioning</a></h2>
    </div>
</article>

<article>
    <div>
        <header>
            <h1>Managing Packages</h1>
        </header>
        <p>
            In this section, learn about managing your NuGet Packages.
        </p>

        <h2><a href="/Create/Managing-Package-Owners">Managing Package Owners</a></h2>
        <h2><a href="/Create/Deleting-Packages">Deleting Packages</a></h2>
    </div>
</article>

<article>
    <div>
        <header>
            <h1>Learn more</h1>
        </header>
        <p>
            In this section, learn more about using packages in VS templates, NuGet Extensibility APIs, invoking NuGet Services inside VS and hosting your own NuGet feeds.
        </p>

        <h2><a href="/Create/Packages-in-Visual-Studio-Templates">Packages in Visual Studio Templates</a></h2>
        <h2><a href="/Create/Extensibility-APIs">NuGet Extensibility APIs</a></h2>
        <h2><a href="/Create/Invoking-NuGet-Services-from-inside-Visual-Studio">Invoking NuGet Services in VS</a></h2>
        <h2><a href="/Create/Hosting-Your-Own-NuGet-Feeds">Hosting your own NuGet feeds</a></h2>
    </div>
</article>