.feed {
    float: right;
    margin-right: 10px;
}

.content .post {
    border-bottom: 1px solid #D2D2D2;
}

.content .post:last-child {
    border-bottom: 0px;
}

.content .post header h1, .content .archive header h1 {
    font-family: 'Segoe UI Semibold','Segoe UI','Arial';
    font-size: 18pt;
    padding-top: 10px;
}

.content .archive {
    background-color: #ECEEEF;
}

.content .archive article {
    padding-left: 0px;
    padding-right: 0px;
}

.content .archive h2 {
    font-size: 12pt;
    margin-top: 36px;
    margin-bottom: 14px;
}

.content .fullarchive .list {
    /* Force the full archive list to the same vertical position as a post */
    margin-top: 14px;
}

.content .archive .list {
    width: 100%;
    clear: both;
}

.content .archive .list td {
    border-bottom: 1px solid #D2D2D2;
    padding: 20px 0px;
}

.content .archive .list td:first-child {
    padding-left: 40px;
}

.content .archive .list .post .date {
    font-size: 14pt;
    color: #A2A2A2;
    width: 200px;
}

.content .archive .list .post .title {
    font-size: 14pt;
}

.content .archive .list .footer td {
    color: #A2A2A2;
    font-size: 13pt;
    border-bottom: 0px;
}
