html {
    /* Stop Windows Phone from resizing fonts and messing them up */
   -ms-text-size-adjust: none;
}

body {
    margin: 0 auto;
    font-family: 'Segoe UI', 'Trebuchet MS', 'Verdana', 'Helvetica', 'Sans-Serif';
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media all and (min-width: 1368px) {
    body {
        padding: 0px 0px;
    }
}

.header, .subnav, .content {
    padding-left: 0px;
    padding-right: 0px;
}

.subnav {
    height: 24px;
}

.header {
    height: 80px;
}

@media all and (max-width: 1367px) {
    .header, .subnav, .content {
        padding-left: 0px;
        padding-right:0px;
    }
}

@media all and (max-width: 1023px) {
    .header, .subnav, .content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.header {
    background-color: #095166;
}

.header .logo {
    font-size: 2em;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    float:left;
}

.header .search {
    float: right;
    margin: 24px 20px 0 0;
    height: 30px;
    border: 1px solid #0085B2;
    white-space: nowrap;
}

#searchbox {
    padding: 0px 0px 0px 19px;
    width: 592px;
    border: 0px;
    height: 30px;
}

@media all and (max-width: 961px) {
    #searchbox {
        width: 492px;
    }
}

@media all and (max-width: 861px) {
    #searchbox {
        width: 392px;
    }
}

@media all and (max-width: 761px) {
    #searchbox {
        width: 292px;
    }
}

@media all and (max-width: 661px) {
    #searchbox {
        width: 192px;
    }
}

.nav-toggles {
    display: none;
    text-align: right;
    float: right;
    right: 15px;
    width: 100px;
    white-space: nowrap;
    margin-top: 20px;
}

    .nav-toggles .nav-toggle {
        margin-right: 0;
        height: 35px;
    }

#searchbutton {
    width: 33px;
    height: 30px;
    background-image: url(/images/search-button.png);
    border: 0px;
    margin: 0 0 0 0;
    padding: 0px;
    float: right;
}

nav {
    clear: both;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 21px;
    margin-bottom: 10px;
}

nav.sub ul li {
    margin-top: 0px;
    margin-bottom: 0px;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    font-family: 'Segoe UI Semibold','Segoe UI','Arial';
    font-size: 13pt;
    text-transform: uppercase;
    color: #838383;
}

nav.sub ul li a {
    text-transform: none;
}

nav ul li.current a {
    color: black;
}

nav ul li a:hover {
    color: #0077A0;
}

.twitter {
    float: right;
}

.content {
    clear: both;
    padding-top: 5px;
    padding-bottom: 100px;
    margin-top: 4px;
}

.content section {
    clear: both;
}

.content article {
    background-color: white;
    padding: 0 40px 20px 40px;
}

.content article:first-child {
    background-color: white;
    padding: 0 40px 20px 40px;
}

footer {
    background-color: white;
    border-top: 1px solid #D2D2D2;
    padding-top: 10px;
    padding-bottom: 30px;
}

footer p {
    text-align: center;
    margin: 0 auto 5px auto;
    font-size: .7em;
}        

@media all AND (max-width: 601px) {
    .header .search {
        float: none;
        margin-bottom: 5px;
        display: none;
    }

    #searchbox {
        width: 85%;
    }

        #searchbox:focus {
            outline: 0;
        }

    .twitter {
        float: left;
        margin-top: 10px;
    }

    .nav-toggles {
        display: block;
    }

    .subnav {
        display: none;
    }

    .header nav {
        height: auto;
        display: none;
    }

        .header nav div {
            float: left !important;
        }

        .header nav ul {
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
            display: block;
            height: auto;
            float: none;
        }

            .header nav ul li {
                width: 100%;
                float: left;
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 5px;
            }
}
