body {
    font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif !important;
}


.navbar li {
    color: #000;
}

.navbar-default {
    background-color: #164f78 !important;
}

.navbar {
    font-size: 14px !important;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: transparent !important;
}


.input-lg {
    font-size: 14px !important;
    width: 300px !important;
}


.btn {
    font-size: 14px !important;
    height: 30px !important;
}

.navbar .btn {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}


.navbar-form {
    margin-top: 8px !important;
    margin-bottom: 5px !important;
}

    .navbar-form .form-control {
        height: 30px !important;
    }

.navbar-default .navbar-brand {
    font-size: 20px !important;
    font-weight: 400;
}

.navbar-brand {
    float: left;
    padding-top: 7px  !important;
    line-height: 21px;
    height: 45px;
}

.brandimage
{
    margin-right: 5px;
    margin-bottom: 8px;
}

.btn-default {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: transparent !important;
}

@media (min-width: 768px) {
    .navbar-form {
        margin-right: 26px !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    body {
        margin-top:100px;
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
    body {
        margin-top:50px;
    }
}

#baseSidebar.affix {
    top: 70px;
}
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    /* all links */
    .bs-docs-sidebar .nav > li > a {
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
    }

    /* nested links */
    .bs-docs-sidebar .nav .nav > li > a {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 30px;
        font-size: 12px;
    }

    /* active & hover links */
    .bs-docs-sidebar .nav > .active > a,
    .bs-docs-sidebar .nav > li > a:hover,
    .bs-docs-sidebar .nav > li > a:focus {
        color: #563d7c;
        text-decoration: none;
        background-color: transparent;
        border-left-color: #563d7c;
    }
    /* all active links */
    .bs-docs-sidebar .nav > .active > a,
    .bs-docs-sidebar .nav > .active:hover > a,
    .bs-docs-sidebar .nav > .active:focus > a {
        font-weight: 700;
    }
    /* nested active links */
    .bs-docs-sidebar .nav .nav > .active > a,
    .bs-docs-sidebar .nav .nav > .active:hover > a,
    .bs-docs-sidebar .nav .nav > .active:focus > a {
        font-weight: 500;
    }

    /* hide inactive nested list */
    .bs-docs-sidebar .nav ul.nav {
        display: none;
    }
    /* show active nested list */
    .bs-docs-sidebar .nav > .active > ul.nav {
        display: block;
    }



.nano .nano-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-bottom: 30px;
}

.nano .nano-pane {
    background: #888;
}

.nano .nano-slider {
    background: #111;
}


/* Guides */

body {
    padding-top: 70px;
}

.navmods {
    margin-left: 5px !important;
}

.twitter {
    margin: 10px;
    text-align: center;
}

/*.search {
    margin-left: 5px !important;
}*/

/*.searchButton {
    padding-bottom: 3px !important;
    margin-left: 2px !important;
}*/

.toggleTocButton {
    width: 110px;
    margin-left: 10px !important;
    padding-bottom: 1px !important;
}

a:hover, a:focus {
    color: #008cba;
    text-decoration: none !important;
}

a.na .downloadToolsLinks {
    padding: 5px;
}

.downloadToolsLinksToolbar {
    margin-left: -40px !important;
}

.row {
    margin-left: -50px !important;
}

.layoutRoot {
    margin-top: 20px;
}

.caption {
    min-height: 130px;
    max-height: 130px;
    overflow: hidden;
}

.swimlaneTitle {
    margin-left: -35px;
    margin-top: -30px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    left: 10px;
}

.swimlane {
    background-color: transparent !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 7px !important;
    margin-bottom: 10px !important;
}

.swimlaneSubTitle {
    margin-left: -35px;
    font-size: medium;
}

.swimlaneDescription {
    min-height: 120px;
    max-height: 120px;
}

.timeToRead {
    font-size: smaller;
    color: gray;
    vertical-align: bottom;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

    .thumbnail.right-caption > .caption {
        padding: 4px;
    }

.cardHeading {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 1em !important;
    display: inline-block;
}

.cardImage {
    min-width: 10% !important;
    max-width: 10% !important;
}

.cardHeadingContainer {
    text-align: center;
    text-anchor: middle;
}


.card {
    margin-top: 10px;
}

.githubtext {
    padding-left: 5px;
}

.githubsection {
    padding-left: 10px;
}

.githubicon {
    font-size: 1.5em;
}

.generatedText {
    font-size: .8em;
    color: gray;
    padding-left: 1px;
    font-weight: 200;
    margin-bottom: 20px;
}


aside#toc h2 {
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0;
}

aside {
    padding-bottom: 50px;
}

    aside#toc #toc-hide {
        float: left;
    }

        aside#toc #toc-hide img {
            vertical-align: middle;
            margin-bottom: 12px;
            margin-right: -24px;
        }

    aside#toc h3, aside#toc h4, aside#toc h5, aside#toc h6, aside#toc h7, aside#toc h8, aside#toc h9 {
        display: block;
        margin: 0;
        font-family: 'Segoe UI', 'Trebuchet MS', Arial;
    }


    aside#toc h3 {
        margin-top: 10px;
        padding: 20px 30px 5px 30px;
        font-weight: 600;
        font-size: 1em;
    }

    aside#toc h4, aside#toc h5, aside#toc h6, aside#toc h7, aside#toc h8, aside#toc h9 {
        padding: 4px 30px 4px 30px;
        font-size: .9em;
        line-height: 20px;
    }

    aside#toc h3 a {
        color: black !important;
    }

/* Article*/

.result {
    margin-top: 20px;
}

.searchtext {
    margin-bottom: 5px !important;
}

.searchfooter {
    margin-top: 20px;
}

.jumbotron {
    padding-left: 30px;
    padding-right: 30px;
}


    .jumbotron p {
        font-size: 16px !important;
    }

.articleSwimlane {
    background-color: transparent !important;
    padding: 10px !important;
    margin-bottom: 0px !important;
}

.articleTable {
    font-size: 1em !important;
}

.articleTitle {
    font-size: 36px !important;
    font-weight: 500;
    margin-bottom: 7px !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid lightgray;
    left: 10px;
}

.articleTopic {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    font-size: 32px !important;
    left: 10px;
}

.articleSubTopic {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    font-size: 28px !important;
    left: 10px;
}

warningcallout {
    border-left-color: #ffd433;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #fffaea;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 23px;
}



.block-callout-warning {
    border-left: 4px solid #f00;
    padding: 13px 13px 13px 23px;
    position: relative;
    margin-bottom: 1em;
    background-color: #FFFAEA;
    border-color: #FFD433;
}

.block-callout-info {
    border-left: 4px solid #f00;
    padding: 13px 13px 13px 23px;
    position: relative;
    margin-bottom: 1em;
    background-color: #e3edf2;
    border-color: #5bc0de;
}

refs/remotes/origin/proto
