<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off" defaultRedirect="~/error">
            <error statusCode="404" redirect="~/404" />
        </customErrors>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.cshtml" />
                <add value="Default.markdown" />
            </files>
        </defaultDocument>
        <modules runAllManagedModulesForAllRequests="true" />
        <httpErrors errorMode="Custom" >
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" path="/404" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1"/>
            <error statusCode="500" path="/Error" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
