@*<article>
        <h1>Contributing to NuGet</h1>
        @TopicHelper.RenderSubTopics("~/Contribute")
    </article>*@

<article>
    <div>
        <h2>Contributing to NuGet Client</h2>
        <p>
            Blurb about contributing to NuGet Client
        </p>
        <h3><a href="/Contribute/Project-Guidelines">Project Guidelines</a></h3>
        <h3><a href="/Contribute/Setting-up-the-NuGet-Development-Environment">Setting up the NuGet Development Environment</a></h3>
        <h3><a href="/Contribute/Coding-Guidelines">Coding Guidelines</a></h3>
        <h3><a href="/Contribute/Release-Branches">Understanding Release Branches</a></h3>
    </div>
</article>

<article>
    <div>
        <h2>Contributing to NuGet Gallery</h2>
        <p>
            Blurb about contributing to NuGet Gallery
        </p>
        <h3><a href="/Contribute/Branding-the-NuGet-Gallery">Branding the NuGet Gallery</a></h3>
        <h3><a href="/Contribute/Build-And-Run-NuGet-Gallery">Building and Running the NuGet Gallery</a></h3>
     </div>
</article>

<article>
    <div>
        <h2>Testing the NuGet Client And Gallery</h2>
        <p>
            Blurb about testing the NuGet Client
        </p>
        <h3><a href="/Contribute/NuGet-Client-Test-Plan">Test Plan for NuGet Client</a></h3>
        <h3><a href="/Contribute/Functional-Testing">Running/ Writing Functional Tests for NuGet Client/ Gallery</a></h3>
    </div>
</article>

<article>
    <div>
        <h2>Other</h2>
        <p>
            Blurb a
        </p>
        <h3><a href="/Contribute/Ecosystem">NuGet's Ecosystem</a></h3>
        <h3><a href="/Contribute/Governance">Governance Model for NuGet</a></h3>
    </div>
</article>