@*<article>
        <h1>Contributing to NuGet</h1>
        @TopicHelper.RenderSubTopics("~/Contribute")
    </article>*@

<article>
    <div>
        <h2>Contributing to NuGet Client</h2>
        <p>
            The NuGet client includes both the Visual Studio add-in as well as the NuGet command line interface and the NuGet.Core package. 
        </p>
        <h3><a href="/Contribute/Project-Guidelines">Project Guidelines</a></h3>
        <h3><a href="/Contribute/Setting-up-the-NuGet-Development-Environment">Setting up the NuGet Development Environment</a></h3>
        <h3><a href="/Contribute/Coding-Guidelines">Coding Guidelines</a></h3>
        <h3><a href="/Contribute/Release-Branches">Understanding Release Branches</a></h3>
    </div>
</article>

<article>
    <div>
        <h2>Contributing to NuGet Gallery</h2>
        <p>
            NuGet Gallery services include the set of all services that run the Web site, the service API, the search service, etc.
        </p>
        <h3><a href="/Contribute/Branding-the-NuGet-Gallery">Branding the NuGet Gallery</a></h3>
        <h3><a href="/Contribute/Build-And-Run-NuGet-Gallery">Building and Running the NuGet Gallery</a></h3>
     </div>
</article>

<article>
    <div>
        <h2>Testing the NuGet Client And Gallery</h2>
        <p>
            If you wish to contribute code to either the NuGet client or the gallery, please read the relevant test plan document as it provides insight into how your contribution will be tested prior to being released into production. 
        </p>
        <h3><a href="/Contribute/NuGet-Client-Test-Plan">Test Plan for NuGet Client</a></h3>
        <h3><a href="/Contribute/NuGet-Gallery-Test-Plan">Test Plan for NuGet Gallery</a></h3>
        <h3><a href="/Contribute/Functional-Testing">Running/ Writing Functional Tests for NuGet Client/ Gallery</a></h3>
    </div>
</article>

<article>
    <div>
        <h2>Other</h2>
        <p>
            The following additional resources describe different aspects of the NuGet project itself.
        </p>
        <h3><a href="/Contribute/Ecosystem">NuGet's Ecosystem</a></h3>
        <h3><a href="/Contribute/Governance">Governance Model for NuGet</a></h3>
    </div>
</article>