<div class="article-boxes">
    <article class="box links wide">
        <header>
            <h1>Contributing to NuGet Client</h1>
        </header>
        <p>
            The NuGet client includes both the Visual Studio add-in as well as the NuGet command line interface and the NuGet.Core package.
        </p>
        <footer>
            <a href="/Contribute/Project-Contribution-Guidelines" title="Project Contribution Guidelines">Project Guidelines</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Contribute/Setting-up-the-NuGet-Development-Environment" title="Setting up the NuGet Development Environment">Setting up the NuGet Development Environment</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Contribute/Coding-Guidelines" title="Coding Guidelines">Coding Guidelines</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Contribute/Release-Branches" title="Understanding Release Branches">Understanding Release Branches</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Contributing to NuGet Gallery</h1>
        </header>
        <p>
            NuGet Gallery services include the set of all services that run the Web site, the service API, the search service, etc.
        </p>
        <footer>
            <a href="/Contribute/Branding-the-NuGet-Gallery" title="Branding the NuGet Gallery">Branding the NuGet Gallery</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Contribute/Build-And-Run-NuGet-Gallery" title="Building and Running the NuGet Gallery">Building and Running the NuGet Gallery</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Testing the NuGet Client And Gallery</h1>
        </header>
        <p>
            If you wish to contribute code to either the NuGet client or the gallery, please read the relevant test plan document as it provides insight into how your contribution will be tested prior to being released into production.
        </p>
        <footer>
            <a href="/Contribute/NuGet-Client-Test-Plan" title="Test Plan for NuGet Client">Test Plan for NuGet Client</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Contribute/NuGet-Gallery-Test-Plan" title="Test Plan for NuGet Gallery">Test Plan for NuGet Gallery</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Contribute/Functional-Testing" title="Running and Writing Functional Tests for NuGet Client or Gallery">Running/ Writing Functional Tests for NuGet Client/ Gallery</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Contributing to the NuGet Documentation</h1>
        </header>
        <p>
            If you wish to contribute code to the NuGet documentation or spotted an error, please read the following guidance.
        </p>
        <footer>
            <a href="/Contribute/Contributing-to-NuGet-Documentation" title="Contributing Documentation">Contributing documentation</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Other</h1>
        </header>
        <p>
            The following additional resources describe different aspects of the NuGet project itself.
        </p>
        <footer>
            <a href="/Contribute/Ecosystem" title="NuGet's Ecosystem'">NuGet's Ecosystem</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Contribute/Governance" title="Governance Model for NuGet">Governance Model for NuGet</a>
        </footer>
    </article>
    <div style="clear:both"></div>
</div>