
@{
    Layout = "~/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="col-xs-12 col-md-8">
        <section class="group">
            <div class="jumbotron container-fluid swimlane">
                <h3 class="swimlaneTitle">Release Notes</h3>
                <div style="margin-left: -30px;">
                    @TopicHelper.RenderReleaseNotesIndex()
                </div>
            </div>
        </section>
    </div>
</div>
