@{
    Layout = "~/_Layout.cshtml";
}

@using NuGet.Docs

<div id="wrapper">
    <div id="sidebar-wrapper" style="background-color:transparent">
        <div id="about" class="nano">
            <div class="nano-content">
                <aside id="toc">
                    @TopicHelper.RenderReferencesIndex()
                </aside>
            </div>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="col-xs-12 col-md-8">
        
            </div>
        </div>
    </div>
</div>
