<article>
    <div>
        <header>
            <h1>Getting Started</h1>
        </header>
        <p>NuGet is the package manager for the Microsoft development platform including .NET. 
        The NuGet client tools provide the ability to produce and consume packages. 
        The <a href="http://www.nuget.org">NuGet Gallery</a> is the central package repository used by all package authors and consumers.</p>
        
            <h2><a href="/Consume/Overview">Overview</a></h2>
            <h2><a href="/Consume/Installing-NuGet">Installing NuGet</a></h2>
            <h2><a href="Consume/NuGet-FAQ">FAQ</a></h2>
        
    </div>
</article>

<article>
    <div>
        <header>
            <h1>NuGet in Visual Studio</h1>
        </header>
        <p>NuGet runs in all versions and SKUs of Visual Studio 2010, Visual Studio 2012 and Visual Studio 2013.
            You can find, install, remove, and update packages by using the **Manage NuGet Packages** dialog box
            or by using PowerShell command-line commands in the **Package Manager Console** dedicated Visual Studio window.</p>
        <h2><a href="/Consume/Package-Manager-Dialog">Managing Packages Using NuGet Package Manager Dialog</a></h2>
        <h2><a href="/Consume/Package-Manager-Console">Managing Packages Using NuGet Package Manager Console</a></h2>
        <h2><a href="/Consume/Package-Visualizer">Package and its dependencies in a visual graph</a></h2>
        <h2><a href="/Consume/Search-Syntax">Using NuGet Search to find packages</a></h2>
    </div>
</article>

<article>
    <div>
        <header>
            <h1>Package Restore</h1>
        </header>
        <p>Many developers like to omit binaries from their source control repository and NuGet Package Restore helps you with that.</p>
        <h2><a href="/Consume/Package-Restore">Learn about Package Restore</a></h2>
        <h2><a href="/Consume/Package-Restore/Migrating-to-Automatic-Package-Restore">Migrating to Automatic Package Restore</a></h2>
        <h2><a href="/Consume/Package-Restore/MsBuild-Integrated">MS-Build Integrated Package Restore</a></h2>
        <h2><a href="/Consume/Package-Restore/Team-Build">Team Foundation Build Package Restore</a></h2>
    </div>
</article>

<article>
    <div>
        <header>
            <h1>NuGet Config and NuGet Command Line</h1>
        </header>
        <p>NuGet's configuration file allows for persisting configuration settings and changing default configuration values.</p>
        <h2><a href="/Consume/NuGet-Config-File">NuGet Configuration File</a></h2>
        <h2><a href="/Consume/NuGet-Config-Defaults">Setting NuGet Configuration Defaults</a></h2>
        <h2><a href="/Consume/Command-Line-Reference">NuGet Command Line Reference</a></h2>
    </div>
</article>

<article>
    <div>
        <header>
            <h1>Learn More</h1>
        </header>
        <p>Learn more about what NuGet can do for you</p>
        <h2><a href="/Consume/ReInstalling-Packages">Reinstalling Packages</a></h2>
        <h2><a href="/Consume/Support-for-Native-Projects">Support for Native Projects</a></h2>
    </div>
</article>