<div class="article-boxes">
    <article class="box links wide">
        <header>
            <h1>Getting Started</h1>
        </header>
        <p>
            NuGet is the package manager for the Microsoft development platform including .NET.
            The NuGet client tools provide the ability to produce and consume packages.
            The <a href="http://www.nuget.org">NuGet Gallery</a> is the central package repository used by all package authors and consumers.
        </p>
        <footer>
            <a href="/Consume/Overview" title="Overview">Overview</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Installing-NuGet" title="Installing NuGet">Installing NuGet</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="Consume/NuGet-FAQ" title="Frequently Asked Questions">FAQ</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Consuming Packages with Project.Json</h1>
        </header>
        <p>
            Beginning with NuGet 3.0, a new model and interaction with project systems was introduced that uses the Project.Json package definition standard inside of new ASP.NET 5 and UWP projects.  New capabilities are available for these project types that work with project.json packaging
        </p>
        <footer>
            <a href="/Consume/ProjectJson-Intro" title="Introduction">Introducing the Project.Json model</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/ProjectJson-Format" title="Project.Json Usage">Project.Json format and usage</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/ProjectJson-Dependency" title="Dependency Resolution Strategies">Dependency Resolution Strategies</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>NuGet in Visual Studio</h1>
        </header>
        <p>
            NuGet runs in all versions and SKUs of Visual Studio 2010, Visual Studio 2012 and Visual Studio 2013.
            You can find, install, remove, and update packages by using the **Manage NuGet Packages** dialog box
            or by using PowerShell command-line commands in the **Package Manager Console** dedicated Visual Studio window.
        </p>
        <footer>
            <a href="/Consume/Package-Manager-Dialog" title="Managing Packages Using NuGet Package Manager Dialog">Package Manager Dialog</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Package-Manager-Console" title="Managing Packages Using NuGet Package Manager Console">Package Manager Console</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Package-Visualizer" title="Package and its dependencies in a visual graph">Package Visualizer</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Search-Syntax" title="Using NuGet Search to find packages">Search Syntax</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Package Restore</h1>
        </header>
        <p>Many developers like to omit binaries from their source control repository and NuGet Package Restore helps you with that.</p>
        <footer>
            <a href="/Consume/Package-Restore" title="Learn about Package Restore">Learn more</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Package-Restore/Migrating-to-Automatic-Package-Restore" title="Migrating to Automatic Package Restore">Migrate</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Package-Restore/MsBuild-Integrated" title="MS-Build Integrated Package Restore">MS-Build Integrated</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Package-Restore/Team-Build" title="Team Foundation Build Package Restore">Team Foundation Build</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>NuGet Config and NuGet Command Line</h1>
        </header>
        <p>NuGet's configuration file allows for persisting configuration settings and changing default configuration values.</p>
        <footer>
            <a href="/Consume/NuGet-Config-File" title="NuGet Configuration File">NuGet Configuration File</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/NuGet-Config-Defaults" title="Setting NuGet Configuration Defaults">NuGet Configuration Defaults</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Command-Line-Reference" title="NuGet Command Line Reference">NuGet Command Line Reference</a>
        </footer>
    </article>

    <article class="box links wide">
        <header>
            <h1>Learn More</h1>
        </header>
        <p>Learn more about what NuGet can do for you.</p>
        <footer>
            <a href="/Consume/ReInstalling-Packages" title="Reinstalling Packages">Reinstalling Packages</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="/Consume/Support-for-Native-Projects" title="Support for Native Projects">Support for Native Projects</a>
        </footer>
    </article>

    <div style="clear:both"></div>
</div>
