@using Docs.Core
@{
    List<Heading> headings = Page.Headings;
    /* Normalize the heading levels to start at 3 in the TOC. */
    var minHeading = headings.Min(h => h.Level);
    var deltaTo3 = 3 - minHeading;
}

<aside id="toc">
    <h2>Doc outline<a id="toc-hide" href="#" title="Click here to hide the document outline."><img src="@Href("~/images/close.png")" border="0" /></a></h2>
    @for (int i = 0; i < headings.Count; i++) {
        var heading = headings[i];
        var hTag = "h" + (heading.Level + deltaTo3).ToString();
        WriteLiteral("<" + hTag + ">");
        <a href="#@heading.ID">@heading.Text</a>
        WriteLiteral("</" + hTag + ">");
    }
</aside>

<script type="text/javascript">
    $(function () {
        $("#toc-hide").click(function (e) {
            e.preventDefault();
            $("#toc").hide();
            $("#doc").css("margin-right", "0px");
            return false;
        });
    });
</script>