<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Page.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/css/simple-sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/css/nuget.docs.css?2015-02-16" rel="stylesheet" type="text/css" />
    <link href="~/content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">nuget</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="http://nuget.org">NuGet.org</a></li>
                <li><a href="~/release-notes">Release Notes</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="search">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search docs" autocomplete="off" name="srch-term" id="srch-term" value="@PageData["query"]" action="~/search" method="get" novalidate="novalidate">
                            <div class="input-group-btn">
                                <button class="btn btn-default searchButton hidden-xs" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                <a href="#menu-toggle" class="btn btn-default toggleTocButton visible-xs" id="menu-toggle">Toggle TOC</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper" style="background-color:transparent">
            <aside id="toc">
                @TopicHelper.RenderDocumentationIndex()
                @RenderBody()
            </aside>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="col-xs-10">
                    <section class="group">
                        <div id="Overview" class="jumbotron container-fluid swimlane">

                            <h3 class="swimlaneTitle">Overview</h3>
                            <h5 class="swimlaneSubTitle">
                                NuGet is the package manager for the Microsoft development platforms including .NET. Create, share, and reuse thousands of nuget packages. Whether you’re new to the NuGet or a pro NuGet users or author,  these are the docs that you are looking for.
                                <br />
                                <br />
                                Guess what? Our docs are also open source. Need to add or edit a topic? Learn how to <a href="~/Contribute/Project-Contribution-Guidelines.md">contribute</a>.
                                <br />
                                <br />
                                Before you start trying some of this out, you need one more of the following products;
                                <br />
                            </h5>
                            <div class="btn-toolbar downloadToolsLinksToolbar" role="toolbar" aria-label="...">
                                <div class="btn-group btn-info downloadToolsLinks" role="group" aria-label="...">Visual Studio</div>
                                <div class="btn-group btn-info downloadToolsLinks" role="group" aria-label="...">nuget.exe</div>
                                <div class="btn-group btn-info downloadToolsLinks" role="group" aria-label="...">.NET CLI</div>
                            </div>
                        </div>
                    </section>
                    <section class="group">
                        <div id="How to NuGet" class="jumbotron container-fluid swimlane">
                            <h3 class="swimlaneTitle">Overview</h3>
                            <h5 class="swimlaneSubTitle">
                                NuGet is the package manager for the Microsoft development platforms including .NET. Create, share, and reuse thousands of nuget packages. Whether you’re new to the NuGet or a pro NuGet users or author,  these are the docs that you are looking for.
                                <br />
                                <br />
                                Guess what? Our docs are also open source. Need to add or edit a topic? Learn how to <a href="~/Contribute/Project-Contribution-Guidelines.md">contribute</a>.
                                <br />
                                <br />
                                Before you start trying some of this out, you need one more of the following products;
                                <br />
                            </h5>
                            <div class="btn-toolbar downloadToolsLinksToolbar" role="toolbar" aria-label="...">
                                <div class="btn-group btn-info downloadToolsLinks" role="group" aria-label="...">Visual Studio</div>
                                <div class="btn-group btn-info downloadToolsLinks" role="group" aria-label="...">nuget.exe</div>
                                <div class="btn-group btn-info downloadToolsLinks" role="group" aria-label="...">.NET CLI</div>
                            </div>
                        </div>
                    </section>
                    <section id="GSPackage" class="group">
                        <div class="jumbotron container-fluid swimlane">
                            <h3 class="swimlaneTitle">Getting Started with creating packages</h3>
                            <h5 class="swimlaneSubTitle"> The guides in this section will walk you through detailed scenarios around creating packages for the .NET ecosystem.</h5>
                            <div class="row">
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="UWP" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">UWP</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build packages for the Universal Windows Platform</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (PCL)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build PCL based nuget packages for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (Native)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build native nuget packages accessible from PCL for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (PCL)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build PCL based nuget packages for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (Native)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build native nuget packages accessible from PCL for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="GSConsume" class="group">
                        <div class="jumbotron container-fluid swimlane">
                            <h3 class="swimlaneTitle">Getting Started with creating packages</h3>
                            <h5 class="swimlaneSubTitle"> The guides in this section will walk you through detailed scenarios around creating packages for the .NET ecosystem.</h5>
                            <div class="row">
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="UWP" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">UWP</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build packages for the Universal Windows Platform</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (PCL)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build PCL based nuget packages for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (Native)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build native nuget packages accessible from PCL for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (PCL)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build PCL based nuget packages for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail card">
                                        <div style="" class="panel-body cardHeadingContainer">
                                            <a href="~/Creating Packages/UWP.md">
                                                <img alt="Xamarin" class="cardImage" src="~/images/GuidesLogos/uwp.png" />
                                                <h5 class="cardHeading">Mobile (Native)</h5>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h6>Learn how to build native nuget packages accessible from PCL for Xamarin and UWP</h6>
                                            <div class="timeToRead">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                15 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <nav class="col-xs-2 bs-docs-sidebar">
                    <ul id="baseSidebar" class="nav nav-stacked">
                        @*<li>
                                <a href="#GroupA">Group A</a>
                                <ul class="nav nav-stacked">
                                    <li><a href="#GroupASub1">Sub-Group 1</a></li>
                                    <li><a href="#GroupASub2">Sub-Group 2</a></li>
                                </ul>
                            </li>*@
                        <li>
                            <a href="#Overview">Overview</a>
                        </li>
                        <li>
                            <a href="#GSPackage">Getting Started with creating packages</a>
                        </li>
                        <li>
                            <a href="#GSConsume">Getting Started with consuming packages</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
    <script src="~/js/nuget.docs.js"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('body').scrollspy({
            target: '.bs-docs-sidebar',
            offset: 40
        });

        $("#baseSidebar").affix({
            offset: {
                top: 60
            }
        });
    </script>
</body>
</html>
