@{ Page.Title = "NuGet Docs"; }
<div class="article-boxes">
    <article>
        <h1>Overview</h1>
        <p>
            This is the NuGet documentation site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas
            ante non dolor mollis placerat. Curabitur a diam vel felis fermentum vulputate. Pellentesque malesuada,
            lacus luctus consequat tempor, sapien urna sodales ligula, ac pretium libero magna a tortor. In vel
            fermentum diam, vitae facilisis lacus. Vestibulum ultricies mollis nisl, vitae ultricies dui aliquam quis.
            Proin eu felis porta, congue lacus in, viverra dolor. In tempor, turpis eget fermentum hendrerit, turpis
            erat iaculis nulla, vel volutpat lorem elit eget tortor. Etiam quis felis nec est malesuada bibendum sed
            congue urna. Nullam dapibus viverra mattis. Nullam hendrerit nibh et ante sollicitudin molestie. Nullam
            imperdiet libero et vulputate pellentesque. Cras tristique elit ac nibh accumsan vestibulum. Suspendisse
            nisi nunc, fringilla id justo placerat, eleifend rutrum magna. In hendrerit ante in augue pellentesque
            dictum. Suspendisse ut suscipit eros.
        </p>
    </article>

    <article>
        <h1>Latest Release: 2.8.1</h1>
        <p>
            <a href="~/release-notes/nuget-2.8.1">View Release Notes</a>.
            This is the NuGet documentation site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas
            ante non dolor mollis placerat. Curabitur a diam vel felis fermentum vulputate. Pellentesque malesuada,
            lacus luctus consequat tempor, sapien urna sodales ligula, ac pretium libero magna a tortor. In vel
            fermentum diam, vitae facilisis lacus. Vestibulum ultricies mollis nisl, vitae ultricies dui aliquam quis.
            Proin eu felis porta, congue lacus in, viverra dolor. In tempor, turpis eget fermentum hendrerit, turpis
            erat iaculis nulla, vel volutpat lorem elit eget tortor. Etiam quis felis nec est malesuada bibendum sed
            congue urna. Nullam dapibus viverra mattis. Nullam hendrerit nibh et ante sollicitudin molestie. Nullam
            imperdiet libero et vulputate pellentesque. Cras tristique elit ac nibh accumsan vestibulum. Suspendisse
            nisi nunc, fringilla id justo placerat, eleifend rutrum magna. In hendrerit ante in augue pellentesque
            dictum. Suspendisse ut suscipit eros.
        </p>
    </article>

    <article>
        <h1>Using NuGet for Package Management</h1>
        <p>
            This is the NuGet documentation site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas
            ante non dolor mollis placerat. Curabitur a diam vel felis fermentum vulputate. Pellentesque malesuada,
            lacus luctus consequat tempor, sapien urna sodales ligula, ac pretium libero magna a tortor. In vel
            fermentum diam, vitae facilisis lacus. Vestibulum ultricies mollis nisl, vitae ultricies dui aliquam quis.
            Proin eu felis porta, congue lacus in, viverra dolor. In tempor, turpis eget fermentum hendrerit, turpis
            erat iaculis nulla, vel volutpat lorem elit eget tortor. Etiam quis felis nec est malesuada bibendum sed
            congue urna. Nullam dapibus viverra mattis. Nullam hendrerit nibh et ante sollicitudin molestie. Nullam
            imperdiet libero et vulputate pellentesque. Cras tristique elit ac nibh accumsan vestibulum. Suspendisse
            nisi nunc, fringilla id justo placerat, eleifend rutrum magna. In hendrerit ante in augue pellentesque
            dictum. Suspendisse ut suscipit eros.
        </p>
    </article>

    <article>
        <h1>Creating NuGet Packages</h1>
        <p>
            This is the NuGet documentation site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas
            ante non dolor mollis placerat. Curabitur a diam vel felis fermentum vulputate. Pellentesque malesuada,
            lacus luctus consequat tempor, sapien urna sodales ligula, ac pretium libero magna a tortor. In vel
            fermentum diam, vitae facilisis lacus. Vestibulum ultricies mollis nisl, vitae ultricies dui aliquam quis.
            Proin eu felis porta, congue lacus in, viverra dolor. In tempor, turpis eget fermentum hendrerit, turpis
            erat iaculis nulla, vel volutpat lorem elit eget tortor. Etiam quis felis nec est malesuada bibendum sed
            congue urna. Nullam dapibus viverra mattis. Nullam hendrerit nibh et ante sollicitudin molestie. Nullam
            imperdiet libero et vulputate pellentesque. Cras tristique elit ac nibh accumsan vestibulum. Suspendisse
            nisi nunc, fringilla id justo placerat, eleifend rutrum magna. In hendrerit ante in augue pellentesque
            dictum. Suspendisse ut suscipit eros.
        </p>
    </article>

    <article>
        <h1>Contributing to NuGet</h1>
        <p>
            This is the NuGet documentation site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas
            ante non dolor mollis placerat. Curabitur a diam vel felis fermentum vulputate. Pellentesque malesuada,
            lacus luctus consequat tempor, sapien urna sodales ligula, ac pretium libero magna a tortor. In vel
            fermentum diam, vitae facilisis lacus. Vestibulum ultricies mollis nisl, vitae ultricies dui aliquam quis.
            Proin eu felis porta, congue lacus in, viverra dolor. In tempor, turpis eget fermentum hendrerit, turpis
            erat iaculis nulla, vel volutpat lorem elit eget tortor. Etiam quis felis nec est malesuada bibendum sed
            congue urna. Nullam dapibus viverra mattis. Nullam hendrerit nibh et ante sollicitudin molestie. Nullam
            imperdiet libero et vulputate pellentesque. Cras tristique elit ac nibh accumsan vestibulum. Suspendisse
            nisi nunc, fringilla id justo placerat, eleifend rutrum magna. In hendrerit ante in augue pellentesque
            dictum. Suspendisse ut suscipit eros.
        </p>
    </article>

    <article>
        <h1>References</h1>
        <p>
            This is the NuGet documentation site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas
            ante non dolor mollis placerat. Curabitur a diam vel felis fermentum vulputate. Pellentesque malesuada,
            lacus luctus consequat tempor, sapien urna sodales ligula, ac pretium libero magna a tortor. In vel
            fermentum diam, vitae facilisis lacus. Vestibulum ultricies mollis nisl, vitae ultricies dui aliquam quis.
            Proin eu felis porta, congue lacus in, viverra dolor. In tempor, turpis eget fermentum hendrerit, turpis
            erat iaculis nulla, vel volutpat lorem elit eget tortor. Etiam quis felis nec est malesuada bibendum sed
            congue urna. Nullam dapibus viverra mattis. Nullam hendrerit nibh et ante sollicitudin molestie. Nullam
            imperdiet libero et vulputate pellentesque. Cras tristique elit ac nibh accumsan vestibulum. Suspendisse
            nisi nunc, fringilla id justo placerat, eleifend rutrum magna. In hendrerit ante in augue pellentesque
            dictum. Suspendisse ut suscipit eros.
        </p>
    </article>

    <div style="clear:both"></div>
</div>