@{ Page.Title = "NuGet Docs"; }

<aside id="toc">
    @TopicHelper.RenderDocumentationIndex()
</aside>

<div class="article-boxes">
    <article class="box">
        <header>
            <h1><span class="icon overview">Overview</span></h1>
        </header>
        <p>
            Welcome to the NuGet Docs. As the name implies, this site contains all the information that you will need to get up and running with NuGet, whether you are new to NuGet and need information for installing and managing packages, whether you are a seasoned contributor to one of the NuGet projects, or whether you are at some point in between.
        </p>
        <p>
            Based on the amount and diversity of content, the site has been organized into 3 top level content groups based on the top 3 types of ways in which people tend to experience NuGet: as a package <i>consumer</i>, a package <i>creator</i>, or a project <i>contributor</i>. Please select one of these options to begin exploring the related body of content.
        </p>
        <p>
            Finally, please note that this site itself is an open source project, and contains the wealth of information that it does because people like you have contributed to it. If you find any information that is incorrect on the site, or if there is a topic that you believe should be added to the site, please visit our <a href="https://github.com/nuget/nugetdocs" target="_blank">GitHub repository</a> and either file an issue on the issue tracker or, better yet, send us a pull request and contribute your knowledge to the rest of the NuGet community.
        </p>
    </article>

    <article class="box links">
        <header>
            <h1><span class="icon quick-link">Latest Release: 3.4.3 for Visual Studio 2015</span></h1>
        </header>
        <p>
             NuGet 3.4.3 was released on April 22, 2016 and is only available with Visual Studio 2015.
        </p>
        <p>
           NuGet 3.4.3 was released on April 22, 2016 to address several issues that were identified in the 3.4 and subsequent releases. This release is available from both <a href="http://dist.nuget.org/index.html" title="dist.nuget.org">dist.nuget.org</a> and the <a href="https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d?SRC=Home" title="Visual Studio Gallery">Visual Studio Gallery</a>.
        </p>
        <footer>
            <a href="~/release-notes/nuget-3.4.3" title="View Release Notes">View Release Notes</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="http://dist.nuget.org/index.html" title="Download">Download</a>
        </footer>
    </article>

    <article class="box links">
        <header>
            <h1><span class="icon quick-link">Latest Release for Visual Studio 2013: 2.8.6</span></h1>
        </header>
        <p>
            NuGet 2.8.6 was released on July 20, 2015.
        </p>
        <p>
            NuGet 2.8.6 is a minor update to our 2.8.5 VSIX with updates to support enhancements coming in the Windows 10 SDK.
        </p>
        <footer>
            <a href="~/release-notes/nuget-2.8.6" title="View Release Notes">View Release Notes</a>
            <span>&nbsp;&#124;&nbsp;</span>
            <a href="http://dist.nuget.org/index.html" title="Download">Download</a>
        </footer>
    </article>

    <article class="box links">
        <header>
            <h1><span class="icon most-installed">Consume</span></h1>
        </header>
        <p>
            Package consumption is far and away the most common type of activity for NuGet users. This section of NuGet documentation provides everything needed to get started with installing and using NuGet to install and manage packages in a project.
        </p>
        <p>Topics range from installing NuGet to using the different client tools to using the package restore workflow.</p>
        <footer>
            <a href="~/consume" title="Consume Packages">Consume</a>
        </footer>
    </article>

    <article class="box links">
        <header>
            <h1><span class="icon upload">Create</span></h1>
        </header>
        <p>
            After having built projects that use NuGet packages for different pieces of functionality, many users wish to componentize their own projects as NuGet packages and distribute them, either internally to their organization or publically on the NuGet gallery. This process of using components to build new components is where the true power of NuGet packages can be seen.
        </p>
        <p>
            Topics in this section range from creating packages with the nuget.exe command to leveraging NuGet's package metadata format and package structure conventions to publishing a package to an online gallery.
        </p>
        <footer>
            <a href="~/create" title="Create Packages">Create</a>
        </footer>
    </article>

    <article class="box links">
        <header>
            <h1><span class="icon contribute">Contribute</span></h1>
        </header>
        <p>
            As an open-source project, NuGet's success is largely dependent on the support of its users. There are several different facets of the NuGet project, and several different ways that you can contribute to each of them.
        </p>
        <p>
            This section walks through those different methods of contribution. Additionally, for code contribution, there are also specific guidelines for coding, branching structure, setting up a development environment, and writing and running tests.
        </p>
        <footer>
            <a href="~/contribute" title="Contribute">Contribute</a>
        </footer>
    </article>
    <div style="clear:both"></div>
</div>
