@{ Page.Title = "NuGet Docs"; }

<aside id="toc">
    @TopicHelper.RenderIndex("~/")
</aside>

<div class="article-boxes">
    <article class="box">
        <header>
            <h1>Overview</h1>
        </header>
        <p>
            Welcome to the NuGet Docs. As the name implies, this site contains all the information that you will need to get up and running with NuGet, whether you are new to NuGet and need information for installing and managing pacakges, whether you are a seasoned contriubtor to one of the NuGet projects, or whether you are at some point in between.
        </p>
        <p>
            Based on the amount and diversity of content, the site has been organized into 3 top level content groups based on the top 3 types of ways in which people tend to experience NuGet: as a package <i>consumer</i>, a package <i>creator</i>, or a project <i>contributor</i>. Please select one of these options to begin exploring the related body of content.
        </p>
        <p>
            Finally, please note that this site itself is an open source project, and contains the wealth of information that it does because people like you have contributed to it. If you find any information that is incorrect on the site, or if there is a topic that you believe should be added to the site, please visit our <a href="https://github.com/nuget/nugetdocs" target="_blank">GitHub repository</a> and either file an issue on the issue tracker or, better yet, send us a pull request and contribute your knowledge to the rest of the NuGet community.
        </p>
    </article>

    <article class="box links">
        <header>
            <h1>Latest Release: 2.8.2</h1>
        </header>
        <p>
            NuGet 2.8.2 was released on May 22, 2014. This release only included changes to the NuGet.exe command-line, the NuGet.Server package and other NuGet packages. The release did not include an updated Visual Studio or WebMatrix extension.
        </p>
        <p>
            There were 10 issues addressed in the release. For a full list of the work items fixed in NuGet 2.8.2, please view the <a href="https://nuget.codeplex.com/workitem/list/advanced?keyword=&status=All&type=All&priority=All&release=NuGet%202.8.2&assignedTo=All&component=All&sortField=LastUpdatedDate&sortDirection=Descending&page=0&reasonClosed=All">NuGet Issue Tracker for this release</a>.
        </p>
        <footer>
            <a href="~/release-notes/nuget-2.8.2" title="View Release Notes">View Release Notes</a>
        </footer>
    </article>

    <article class="box links">
        <header>
            <h1>Consume</h1>
        </header>
        <p>
            Package consumption is far and away the most common type of activity for NuGet users. This section of NuGet documentation provides everything needed to get started with installing and using NuGet to install and manage packages in a project. Topics range from installing NuGet to using the different client tools to using the package restore workflow.
        </p>
        <footer>
            <a href="~/consume" title="Consume Packages">Consume</a>
        </footer>
    </article>

    <article class="box links">
        <header>
            <h1>Create</h1>
        </header>
        <p>
            After having built projects that use NuGet packages for different pieces of functionality, many users wish to componentize their own projects as NuGet packages and distribute them, either interally to their organziation or publically on the NuGet gallery. This process of using components to build new components is where the true power of NuGet packages can be seen. Topics in this section range from creating packages with the nuget.exe command to leveraging NuGet's package metadata format and package structure conventions to publishing a package to an online gallery.
        </p>
        <footer>
            <a href="~/create" title="Create Packages">Create</a>
        </footer>
    </article>

    <article class="box links">
        <header>
            <h1>Contribute</h1>
        </header>
        <p>
            As an open-source project, NuGet's success is largely dependent on the support of its users. There are several different facets of the NuGet project, and several different ways that you can contribute to each of them. This section walks through those different methods of contribution. Additionally, for code contribution, there are also specific guidelines for coding, branching structure, setting up a development environment, and writing and running tests.
        </p>
        <footer>
            <a href="~/contribute" title="Contribute">Contribute</a>
        </footer>
    </article>
    <div style="clear:both"></div>
</div>