<div class="article-boxes">
    <article class="box wide">
        <header>
            <h1>Working Specs</h1>
        </header>
        <p>
            @TopicHelper.RenderWorkingSpecsIndex()
        </p>
    </article>

    <div style="clear:both"></div>
</div>